@charset "UTF-8";

/* Paleta de Cores 
- Rosa: #d98179
- Rosa Claro: #f2c8c4
- Vermelho: #590202
- Vermelho Claro: #8c0303
- Vermelho Escuro: #260101
*/

*{
    font-family: "Poppins", sans-serif;
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body{

    background-color: white;
}

.cabecalho{
    max-width: 1280px;
    margin: 0 auto;
} 

/* Estilo do header */

header{
   width: 100%; 
   padding: 40px 0;
   position: fixed; /* Fixa o header no topo */
   top: 0; /* Coloca o header no topo da página */
   left: 0; /* Coloca o header no início da página */
}

header .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

header .logo img{
    max-width: 70px;
}

header .menu-desktop nav ul{
    list-style: none;
    /* display: flex; */
}

.menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

.menu-desktop nav ul li a {
    color: white;
    text-decoration: none;
    /* converti links de inline level para inline block para que possa aceitar o efeito de transform*/
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.06);
}

.btn-radio button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.btn-radio button:hover{
  background-color: white;  
  color:black;
  transition: 0.5s;
}

/* Estilo do banner */

section.banner-site {
    height: 98vh;
    background-color: #8c0303;
    /*background-image: url('../imagem/fundo1.webp');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-site .interface{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.banner-site .texto-banner h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 600;
}

.banner-site .texto-banner h1 span{
    display: block;
    font-weight: 200;
}

.banner-site .texto-banner p{
    font-size: 20px;
    font-weight: 400; 
}

.banner-site .texto-banner p span{
    display: block;
}

/* Estilo principal */

div.main-layout{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin: 50px;
    margin-left: auto;
    margin-right: auto; /* Centraliza horizontalmente */
    max-width: 1000px; /* Define a largura máxima do layout principal */
}

.principal{
    flex: 0 1 800px; /* Permite que a div principal cresça e ocupe o espaço disponível */
    height: 100%;
    width: 100%;
    background-color:gray;
    
}

.interface{
    display: flex;
    flex-flow: row wrap;
    justify-content:center ;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Estilo do artigo 1 */
#art1 {
    flex: 0 0 600px; /* Permite que o artigo ocupe o espaço necessário */

}

#art1 .img-itens img{
    max-width: 100%;
    height: 100%;
}

#art2 {
    flex: 0 0 300px;
}

#art2 .img-itens img{
    
    max-width: 100%;
    max-height: 100%;
}

#art3 {
    flex: 0 0 300px; /* Permite que o artigo ocupe o espaço necessário */
}

#art3 .img-itens img{
    max-width: 100%;
    max-height: 100%;
    
}

#art4 {
    flex: 0 0 300px; /* Permite que o artigo ocupe o espaço necessário */
}

#art4 .img-itens img{
    max-width: 100%;
    max-height: 100%;
}

#art5 {
    flex: 0 0 300px; /* Permite que o artigo ocupe o espaço necessário */
}

#art5 .img-itens img{
    max-width: 100%;
    max-height: 100%;
}

.side-bar{
    width: 300px; /* ajuste conforme necessário */
    height: 100%;
    background-color: lightgrey;
    padding: 20px;
    margin-left: 30px;
}

.side-bar.interface{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.side-bar h2{
    text-align: center;
    color: #260101;
}

.side-bar ul{
    list-style: none;
    margin-top: -20px;
}
.side-bar ul li{
    margin-right: auto;
}

.side-bar ul li a{
    text-decoration: none;
    color: #260101;
    padding: 10px;
    display: block;
    
}
